- slice_type_options = [ ["Coupon", 'Coupon'], ["Free Product", 'Free Product'] ]
%tr.slice{"data-slice-id": slice.id}
  %td.slice-index{"data-slice-index": index}= index
  - if slice.lose
    %td
      %input.slice-type{type: "text", value: slice.slice_type, disabled: true }
    %td
      %input.slice-label{type: "text", value: slice.label, onchange: "collecting_data_for_preview();" }
    %td
    %td.slice-color-td
      %input.slice-color{type: "hidden", value: slice.color, onchange: "collecting_data_for_preview();" }
    %td
    %td
    %td
      %button.slice-save{type: 'button'}
  - else
    - if slice.slice_type == 'Free Product'
      - free = true
    - else
      - free = false
    %td
      = select_tag "slice-type", options_for_select(slice_type_options, slice.slice_type), class: "slice-type custom-select"
    %td
      %button.slice-choose-product{type: 'button', hidden: !free } Add Product
      %input.slice-label{type: "text", value: slice.label, onchange: "collecting_data_for_preview();" }
      %input.slice-product-image{type: 'text', value: slice.product_image, hidden: true}
    %td
      %input.slice-code{type: "text", value: slice.code, hidden: free, list: 'suggested_discounts' }
    %td.slice-color-td
      %input.slice-color{type: "hidden", value: slice.color, onchange: "collecting_data_for_preview();" }
    %td
      %input.slice-gravity{min: "0", max: "100", type: "number", value: slice.gravity,
      onchange: "collecting_data_for_probability();" }
    %td.slice-probability
    %td
      %button.slice-save{type: 'button'}
      %button.slice-delete{type: 'button'}
