- content_for :javascript do
  :javascript
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
          buttons: {
          primary: {
            label: "Save", callback: function(){ $('#setting_save').click() }
          },
          secondary: [
            { label: "Help", callback: function(){ alert('help'); } },
            { label: "Preview", callback: scroll_to_preview() }
          ],
        },
      });
    });
%input#shop_domain{type: 'hidden', value: @shop.shopify_domain}
= render 'settings_form', setting: @settings, slices: @slices, collected_emails: @collected_emails
