- content_for :javascript do
  :javascript
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
          buttons: {
          primary: {
            label: "Save", callback: function(){ $('#setting_save').click() }
          },
          secondary: [
            { label: "Help", callback: function(){ $('#help-pop-up').fadeIn() } },
            { label: "Preview", callback: function(){ $('html, body').animate({scrollTop: $(".canvas-container").offset().top}, 2000);} }
          ],
        },
      });
    });
#help-pop-up
  .help-text
    %span.close-help &#10005;
    Have any questions - visit our FAQ page
    %br
    %a{href: 'http://zoomifi.com/help/exit-stopper', target: '_blank' } http://zoomifi.com/help/exit-stopper
%input#shop_domain{type: 'hidden', value: @shop.shopify_domain}
= render 'settings_form', setting: @settings, slices: @slices, collected_emails: @collected_emails
