#setting_save{
  display: block;
  background-color: #01ac3a;
  border-color: #01ac3a;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  width: auto;
  margin: 20px auto 0;
}

#help-pop-up{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
}

.close-help{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.help-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  font-size: 1.2em;
}

.help-text a{
  color: #01ac3a;
  text-decoration: underline;
  &:hover{
    color: #01ac3a;
    text-decoration: underline;
  }
  &:visited{
    color: #01ac3a;
    text-decoration: underline;
  }
}

body {
  background-color: #f4f6f8;;
  color: #333;
  margin: 33px;
  font-family: 'Roboto', sans-serif, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;

}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

tr{
  border-bottom: 1px solid #adb7be;
  border-top: 1px solid #adb7be;
  padding: 10px;
}

th {
  background-color: #e1f2ff;
  text-align: center;
  padding: 10px;
}

td {
  padding: 10px 0;
  text-align: center;
  background-color: white;
}

td input, td select{
  border-radius: 5px;
  padding-left: 5px;
}

.new-url{
  border-radius: 5px;
  padding-left: 5px;
  width: 50%;
  margin-right: 10%;
}
.new-url-form{
  margin: 15px 0;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
  font-size: 1.1vw;
  font-weight: normal;
}

// Custom CSS
.section-block{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.section-block::before, .section-block::after{
  content: '';
  display: table;
}
.section-block::after{
  clear: both;
}

.float-left{
  float: left;
}
.float-m-left{
  float: left;
  margin-left: 10px;
}

.float-container::before, .float-container::after{
  content: '';
  display: table;
}
.float-container::after{
  clear: both;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #4caf50;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #4caf50;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#setting_big_logo, #setting_small_logo, #setting_tab_icon, #setting_facebook_image, #setting_facebook_image_mobile{
  display: none;
}

.home-title{
  border-bottom: 1px solid #f4f6f8;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #1f2124;
  font-size: 1.5vw;
  margin: 0 -20px 30px -20px;
}
.home-subtitle{
  font-size: 1.1vw;
  line-height: 1.1vw;
  color: #1f2124;
  margin-top: 0;
}
.home-subtitle.attention{
  color: red;
}
.home-info {
  font-size: 0.9vw;
  line-height: 0.9vw;
  font-weight: 200;
  color: #1f2124;
  opacity: 0.5;
}

.form-title{
  line-height: 1.1vw;
  font-size: 1.1vw;
  float: left;
  margin-right: 15px;
}

.small-logo-wrapper, .big-logo-wrapper, .tab-icon-wrapper, .facebook-image-wrapper, .facebook-image-mobile-wrapper{
  background-color: #f0f5f9;
  border-radius: 5px;
}

.big-logo-wrapper{
  height: 150px;
  width: 350px;
}

.small-logo-wrapper{
  height: 150px;
  width: 150px;
}

.tab-icon-wrapper{
  height: 100px;
  width: 100px;
}

.facebook-image-wrapper{
  width: 600px;
  height: 400px;
}
.facebook-image-mobile-wrapper{
  width: 300px;
  height: 500px;
}

.big-logo-wrapper img, .small-logo-wrapper img, .tab-icon-wrapper img, .facebook-image-wrapper img, .facebook-image-mobile-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tab-icon, .small-logo{
  border-radius: 50%;
}
.logo-block{
  width: 50%;
  float: left;
}

.logo-text{
  position: relative;
}

.add-image{
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.full{
  width: 100%;
  padding-bottom: 2%;
}
.half{
  width: 50%;
  padding-bottom: 2%;
  padding-right: 5%;
}
input.half{
  padding-top: 0;
  padding-bottom: 0;
}
.left{
  float: left;
}
.right{
  float: right;
  padding-left: 5%;
  padding-right: 0;
}
.center{
  margin: 0 auto;
}

select.custom-select {
  background-image: url(asset_path('triangle.png'));
  background-position: 99% 50%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select.custom-select:focus {
  background-image: url(asset_path('triangle_up.png'));
  background-position: 99% 50%;
  background-repeat: no-repeat;
  outline: 0;
}
select.form-control::-ms-expand {
    display: none;
}

div.minicolors{
  border: 1px solid #adb7be;
  border-radius: 5px;
  width: 15%;
}

table{
  width: 100%;
}

table div.minicolors{
  border: 1px solid #adb7be;
  width: 60%;
  margin: 0 auto;
}
.slice-code{
  width: 80%;
  min-width: 150px;
}
.slice-type{
  width: 60%;
}

.slice-type.custom-select{
  background-position: 95% 50%;
  //background-size: 10%;
}

.slice-type.custom-select:focus{
  background-position: 95% 50%;
}

.slice-save, .slice-delete, .create_discount_code, .url_delete, .destroy_discount_code, .cancel_discount_code, .remove-email, .add-new-url, .remove-new-url-form{
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.slice-save, .create_discount_code, .add-new-url{
  background-image: url(asset_path('save.png'));
}
.slice-delete, .url_delete, .destroy_discount_code, .cancel_discount_code, .remove-email, .remove-new-url-form {
  background-image: url(asset_path('remove.png'));
  margin-left: 10px;
}
.slice-save.disabled{
  filter: grayscale(100%);
}
.create_slice, .add_discount_code_form, .add_url, .show-advanced, .close-advanced{
  display: block;
  background-color: #01ac3a;
  border-color: #01ac3a;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  width: 20%;
  margin: 20px auto 0;
}

.mailer-link{
  color:#4caf50;
  text-decoration: underline;
}
.page a, .next a, .last a, .prev a, .first a{
  color:#4caf50;
}
.mailer-link:hover, .page a:hover, .next a:hover, .last a:hover, .prev a:hover, .first a:hover{
  color: white;
  background-color: #4caf50;
}
.mailer-link:visited, .page a:visited, .next a:visited, .last a:visited, .prev a:visited, .first a:visited{
  color: #4caf50;
}
.free-product-text{
  margin: 10px 0;
}

#setting_theme{
  width: 30%;
}

#duo_color{
  margin-top: 7px;
}

#show-example{
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 15px;
  color: #01ac3a;
}
#show-example:active, #show-example:focus{
  outline: none;
}
.text-image{
  display: none;
}

.select-title{
  line-height: 34px;
  font-size: 1.1vw;
  float: left;
  margin-right: 15px;
  width: 60%;
}
.time{
  line-height: 34px;
}
.time-input{
    width: 10%;
    float: left;
    margin-right: 15px;
}
.one-third{
  width: 33%;
}
.two-third{
  width: 66%;
}
.left-intent{
  margin-left: 5%;
}
.left-intent-big{
  margin-left: 30%;
}

.one-six{
  width: 15%;
}
.one-quarter{
  width: 25%;
}
.quarter{
  width: 25%;
  float: left;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}
.align-center{
  align-items: center;
}
.flex .form-title{
  width: 75%;
}
.flex .form-title.time{
  width: auto;
}

.around{
  justify-content: space-around;
}
.row-flex{
  width:50%;
}

.slice-choose-product{
  background-color: #01ac3a;
  border-color: #01ac3a;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  width: auto;
  margin: 2% 25%;
}
.slice-label{
  width: 40%;
}
.slice-gravity{
  width: 75%;
}

#discount_code_type{
  width: 60%;
}

#collected_emails{
  width: 50%;
  margin: 0 auto;
}
@media only screen and (max-width: 1400px){
  .slice-delete, .url_delete, .destroy_discount_code, .cancel_discount_code, .remove-email, .remove-new-url-form{
    margin: 0;
  }
}

@media only screen and (max-width: 1050px){
  .text-image{
    width: 100%;
  }
  .slice-code{
    min-width: 50px;
  }
  .logo-block {
      width: 100%;
      margin-bottom: 10px;
  }
  .half, .left, .right, .row-flex{
    width: 100%;
    padding: 0;
    float: none;
  }
  .home-title{
    font-size: 20px;
    line-height: 20px;
  }
  .home-subtitle, label{
    font-size: 16px;
    line-height: 16px;
  }
  .form-title{
    font-size: 16px;
  }
  .home-info{
    font-size: 13px;
    line-height: 13px;
  }
  .select-title{
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px){
  body{
    margin: 3px;
  }

  .add-image {
    right: 0;
    top: 15%;
  }
  .big-logo-wrapper {
    height: 107px;
    width: 250px;
  }
  .create_slice, .add_discount_code_form, .add_url, .show-advanced{
    width: 50%;
  }
  .form-title{
    font-size: 16px;
    line-height: 16px;
  }
  .quarter, .one-third, .one-quarter{
    width: 50%;
  }
  .two-third{
    width: 100%;
  }
  .time-input {
    width: 30%;
    float: none;
    margin: 5px auto;
  }
  .facebook-image-wrapper{
    width: 200px;
    height: 100px;
  }
  .facebook-image-mobile-wrapper{
    width: 100px;
    height: 170px;
  }
}
